body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1DB954, #191414);
  color: #fff;
  background-size: cover
}

.landing-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  background-color: #1DB954;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1ed760;
}